# My python

In [1]:
name="Apurva"

In [2]:
name

'Apurva'

In [3]:
1name="Apurva"
1name

SyntaxError: invalid decimal literal (907740214.py, line 1)

In [4]:
name1="Data"
name1

'Data'

In [5]:
na2me="Data"
na2me

'Data'

In [6]:
a="True"
a

'True'

In [7]:
a="true"
a

'true'

In [8]:
b=True
b

True

In [9]:
b=true
b

NameError: name 'true' is not defined

# My Python Program

In [10]:
x=10
x

10

In [11]:
y=20
y

20

In [12]:
x+y

30

In [17]:
x=10
type(x)

int

In [14]:
b="Aarav"
type(b)

str

In [15]:
c=True
type(c)

bool

In [16]:
x=1.234
type(x)

float

In [18]:
x,type(x)

(10, int)

In [19]:
x,y=10,20
y
x

10

In [20]:
x,y

(10, 20)

In [21]:
y,x

(20, 10)

# Print the type of your name

In [24]:
a="Shreya"
a

'Shreya'

# Print the type of your age

In [23]:
b=19
type(19)

int